* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    transition: 0.5s;
}
button {
    cursor: pointer;
}
#grid {
    display: grid;
}
nav {
    z-index: 10;
    background-color: rgb(230, 230, 230);
    width: 100%;
    height: 80px;
    padding: 15px 40px 15px 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
nav > ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav > ul > li {
    height: 50px;
    cursor: pointer;
}
nav > ul > li > a {
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 0 30px;
}
nav > ul > li:first-child {
    color: rgba(41, 120, 83, 0.98);
    font-family: sans-serif;
    margin-right: auto;
}
nav > ul > li:first-child > h2 {
    font-weight: 800;
    margin: -14px;
}
nav > ul:last-child > li:last-child {
    margin-left: auto;
}
nav > ul:last-child > li:last-child > a > img {
    width: 55px;
    height: 55px;
}
.sidebar {
    position: fixed;
    top: -2.3%;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 25px;
}
.sidebar > ul > li {
    width: 100%;
}
.sidebar > ul > li > a {
    width: 100%;
}
.menu-button {
    display: none;
}
.div1 {
    width: 100%;
    background-color: rgba(230, 230, 230, 0.5);
    padding: 50px 100px 50px 150px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 80px;
    margin-bottom: 50px;
}
.div1 > div:first-child > h1 {
    font-size: 50px;
    color: rgba(41, 120, 83, 0.98);
}
.div1 > div:first-child > input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    outline: none;
    border-radius: 50%;
    border: 2px solid rgba(41, 120, 83, 0.98);
    position: relative;
    cursor: pointer;
}
.div1 > div:first-child > input[type="radio"]::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.div1 > div:first-child > input[type="radio"]:checked::before {
    background-color: rgba(41, 120, 83, 0.98);
}
.div1 > div:first-child > button {
    color: white;
    background-color: rgba(41, 120, 83, 0.98);
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: x-large;
    font-weight: 600;
    margin-top: 30px;
}
.div1 > div:last-child {
    width: 659px;
    height: 659px;
    margin-top: -50px;
    background: url(images/3_1-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.h1-1 {
    font-size: 54px;
    text-align: center;
    margin-bottom: 25px;
}
.h1-1 > span,
.h1-2 > span {
    color: rgba(41, 120, 83, 0.98);
}
.div2 {
    width: 100%;
    padding: 0 150px 0 150px;
    margin-bottom: 50px;
    grid-template-columns: 1.5fr 1fr;
    gap: 30px;
}
.div2 > div {
    height: 370px;
    border-radius: 35px;
    padding: 45px 10px 10px 65px;
}
.div2 > div > h1 {
    font-size: xx-large;
}
.div2 > div > p {
    font-size: large;
}
.div2 > div > button {
    width: 200px;
    height: 50px;
    color: white;
    background-color: rgba(41, 120, 83, 0.98);
    border-radius: 25px;
    font-size: x-large;
    font-weight: 600;
}
.div2 > div:first-child {
    background-color: rgba(41, 120, 83, 0.98);
    color: white;
}
.div2 > div:first-child > p {
    margin: 0 200px 0px 0px;
}
.div2 > div:first-child > button {
    border: 1px solid white;
}
.div2 > div:first-child > img {
    margin-right: -10px;
    margin-top: -250px;
    float: right;
    width: 250px;
    height: 300px;
}
.div2 > div:last-child {
    background-color: rgba(230, 230, 230, 0.5);
    border: 1px solid black;
}
.div2 > div:last-child > button {
    border: none;
}
.div3 {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    height: 370px;
    border-radius: 35px;
    padding: 45px 10px 10px 65px;
    background-color: rgba(230, 230, 230, 0.5);
    border: 1px solid black;
}
.div3 > h1 {
    font-size: xx-large;
}
.div3 > p {
    font-size: large;
    margin: 0 500px 0px 0px;
}
.div3 > button {
    color: white;
    width: 250px;
    height: 50px;
    background-color: rgba(41, 120, 83, 0.98);
    border: none;
    border-radius: 25px;
    font-size: x-large;
    font-weight: 600;
}
.div3 > img {
    border: 20px dotted rgba(128, 128, 128, 0.5);
    width: 300px;
    height: 300px;
    float: right;
    margin-top: -240px;
    margin-right: 100px;
}
#p1-1 {
    font-size: x-large;
    text-align: center;
    margin-bottom: 50px;
}
.grid1 {
    width: 100%;
    height: 500px;
    gap: 50px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    padding: 0 125px 0 125px;
    margin-bottom: 50px;
}
.grid1 > div {
    padding: 30px 0 0 30px;
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    grid-template-rows: 1fr 2fr;
}
.grid1 > div > div {
    grid-template-columns: 2fr 1fr;
    gap: 50px;
}
.grid1 > div > div > img {
    width: 90px;
    height: 90px;
    margin-top: -25px;
}
.grid1 > div > div > div > hr {
    width: 90px;
    height: 5px;
    margin-top: 5px;
    border: none;
    background-image: linear-gradient(to right, rgba(41, 120, 83, 0.98), rgba(41, 120, 83, 0.98));
}
.grid1 > div > p {
    font-size: large;
}
.div4 {
    position: relative;
    width: 100%;
    height: 700px;
    text-align: center;
    align-items: center;
    padding: 50px 150px 25px 150px;
    background-color: rgba(230, 230, 230, 0.5);
}
.div4 > img:first-child {
    position: absolute;
    top: 10%;
    left: 10%;
}
.div4 > hr, .div6 > hr {
    width: 500px;
    height: 3px;
    border: none;
    background-image: linear-gradient(to right, rgba(41, 120, 83, 0.98), rgba(41, 120, 83, 0.98));
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.div4 > p, b {
    font-size: x-large;
}
.div4 > p {
    padding: 25px 0 25px 0;
}
.div4 > b > u {
    color: rgba(41, 120, 83, 0.98);
}
.div4 > img:last-child {
    position: absolute;
    bottom: 10%;
    right: 10%;
}
.div5 {
    width: 100%;
    height: 706px;
    padding: 10px 0 10px 150px;
    grid-template-columns: 1fr 1.5fr;
}
.div5 > div:first-child {
    padding: 30px 0 0 0;
}
.div5 > div:first-child > hr {
    width: 200px;
    height: 5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
.div5 > div:first-child > p {
    font-size: larger;
    font-weight: 500;
}
#carousel {
    position: relative;
    width: 90%;
    height: 250px;
    border-radius: 25px;
    padding: 25px 25px 10px 25px;
    background-color: yellow;
}
.slide {
    display: none;
}
.slide > label,
.slide > p {
    font-size: larger;
}
.slide > input {
    padding: 15px;
    font-size: larger;
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 10px;
}
.slide > input::placeholder {
    font-size: medium;
    padding: 20px;
    color: rgba(128, 128, 128, 0.6);
}
.slide > form > label > input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    outline: none;
    border-radius: 50%;
    border: 2px solid red;
    position: relative;
    cursor: pointer;
}
.slide > form > label > input[type="radio"]::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slide > form > label > input[type="radio"]:checked::before {
    background-color: red;
}
.slide > form > label > span {
    font-size: larger;
}
.slide > form > label > input[type="text"] {
    margin-left: 60px;
    width: 70%;
    height: 50px;
    padding: 15px;
    font-size: larger;
    border: none;
    border-radius: 10px;
}
.slide:nth-child(5) > p > p {
    margin: 5px 0 5px 0;
    font-size: larger;
}
.slide:nth-child(5) > p > p > span {
    border-radius: 5px;
    background-color: rgba(255, 0, 255, 0.2);
    color: red;
}
#controls {
    position: absolute;
    bottom: 50px;
}
#controls > button {
    color: white;
    width: 175px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: medium;
    font-weight: 400;
}
#prevBtn {
    background-color: rgba(255, 0, 0, 0.8);
}
#nextBtn {
    background-color: rgba(0, 0, 0, 0.8);
}
#indicators {
    position: absolute;
    bottom: 20px;
    left: 5%;
}
.indicator {
    width: 50px;
    height: 3px;
    background-color: #ccc;
    display: inline-block;
    margin: 0 5px;
}
.div5 > div:last-child {
    width: 686px;
    height: 686px;
    background: url(images/1\ 2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.div6 {
    width: 100%;
    background-color: rgba(230, 230, 230, 0.5);
    padding: 50px 150px 50px 150px;
}
.grid2 {
    gap: 50px;
    grid-template-columns: repeat(4, 1fr);
}
.grid2 > div {
    text-align: center;
    align-items: center;
}
.grid2 > div > p {
    font-size: medium;
    font-weight: 600;
}
.grid2 > div > img {
    width: 140px;
    height: 140px;
}
.main-form {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}
.main-form > div:first-child {
    width: 584px;
    height: 584px;
    background: url(images/2\ 14.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-form > div:last-child {
    width: 100%;
    padding-top: 25px;
}
.h1-2 {
    font-size: 34px;
    font-weight: 800;
    margin-bottom: 25px;
}
.main-form > div:last-child > form > input {
    width: 90%;
    height: 50px;
    font-size: large;
    background-color: rgba(230, 230, 230, 0.0);
    margin-bottom: 50px;
    outline: none;
    border: none;
    border-bottom: 2px solid lightgray;
}
.main-form > div:last-child > form > input:focus {
    border-bottom: 3px solid darkgray;
}
.main-form > div:last-child > form > button {
    color: white;
    width: 300px;
    height: 60px;
    background-color: rgba(41, 120, 83, 0.98);
    border: none;
    border-radius: 35px;
    font-size: large;
    font-weight: 600;
}
.main-form > div:last-child > #promo-container {
    display: none;
    width: 80%;
    height: 75px;
    padding: 25px 0 15px 0;
    text-align: center;
    font-size: large;
    font-weight: 400;
    color: white;
    background-color: rgba(41, 120, 83, 0.98);
}
.main-form > div:last-child > p {
    font-weight: 550;
}
.main-form > div:last-child > p > a {
    color: blue;
}
.div7 {
    width: 100%;
    padding: 20px 150px 20px 150px;
    align-items: center;
}
.div7 > hr {
    width: 500px;
    height: 3px;
    border: none;
    background-image: linear-gradient(to right, rgba(41, 120, 83, 0.98), rgba(41, 120, 83, 0.98));
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 50px;
}
.div7 > details {
    width: 70%;
    margin: 3px auto;
    padding: 20px;
    background-color: rgba(230, 230, 230, 0.5);
    font-size: x-large;
    font-weight: 800;
    text-align: left;
    overflow: hidden;
}
.div7 > details > summary {
    cursor: pointer;
    outline: none;
    list-style: none;
}
.div7 > details > summary::after {
    content: "+";
    float: right;
    font-size: xx-large;
    font-weight: 400;
    color: rgba(41, 120, 83, 0.98);
}
.div7 > details[open] > summary::after {
    content: "x";
}
.div7 > details[open] > p {
    animation: fadein 0.5s ease;
}
.div7 > details > p {
    font-size: medium;
    font-weight: 400;
}
.div8 {
    width: 100%;
    height: 400px;
    background-color: rgba(230, 230, 230, 0.5);
    text-align: center;
    align-items: center;
    padding: 50px 0 50px 0;
}
.div8 > button {
    color: white;
    width: 300px;
    height: 60px;
    background-color: rgba(41, 120, 83, 0.98);
    border: none;
    border-radius: 35px;
    font-size: larger;
    font-weight: 600;
    margin-bottom: 50px;
}
.div8 > hr {
    width: 80%;
    height: 2.5px;
    position: relative;
    left: 50%;
    bottom: -17%;
    transform: translate(-50%);
    background-image: linear-gradient(to right, black, black);
}
footer {
    width: 100%;
    height: 150px;
    text-align: center;
    align-items: center;
    padding: 10px 0 0 0;
}
footer > h3 {
    color: gray;
    font-size: medium;
    font-weight: 500;
    margin: 5px 0 5px 0;
}
footer > u {
    font-size: medium;
    font-weight: 500;
}
@media (max-width: 1200px) {
    .div1 {
        padding: 15px 15px 15px 15px;
    }
    .div1 > div:first-child > h1 {
        font-size: 44px;
    }
    .div1 > div:last-child {
        width: 600px;
        height: 600px;
    }
    .h1-1 {
        font-size: 49px;
    }
    .div2 {
        padding: 0 75px 0 75px;
    }
    .div3 {
        width: 87%;
        height: 370px;
        padding: 20px 0 0 75px;
    }
    .div3 > h1 {
        font-size: xx-large;
    }
    .div3 > p {
        font-size: large;
    }
    .div3 > button {
        width: 250px;
        height: 50px;
    }
    .div3 > img {
        border: 15px dotted rgba(128, 128, 128, 0.5);
        width: 275px;
        height: 275px;
        margin-right: 75px;
    }
    .grid1 {
        padding: 0 50px 0 50px;
        margin-bottom: 130px;
    }
    .div5 {
        padding: 10px 0 10px 100px;
    }
    .div5 > div:first-child > p {
        font-size: large;
    }
    #carousel {
        padding: 15px 15px 0px 15px;
    }
    .slide > label,
    .slide > p {
        font-size: large;
    }
    .slide > form > label > span {
        font-size: large;
    }
    .slide > form > label > input[type="text"] {
        width: 60%;
    }
    .div5 > div:last-child {
        width: 586px;
    }
    .div6 {
        padding: 50px 50px 50px 50px;
    }
    .main-form > div:first-child {
        width: 484px;
        height: 484px;
    }
    .main-form > div:last-child {
        padding-top: 10px;
    }
    .h1-2 {
        font-size: 29px;
        margin-bottom: 15px;
    }
    .main-form > div:last-child > form > input {
        width: 80%;
        height: 40px;
        font-size: large;
        margin-bottom: 40px;
    }
    .main-form > div:last-child > form > button {
        width: 250px;
        height: 50px;
        font-size: medium;
    }
    .main-form > div:last-child > p {
        font-size: small;
    }
    .div7 > details {
        font-size: large;
    }
    .div7 > details > p {
        font-size: small;
    }
    .div8 > hr {
        bottom: -21%;
    }
}
@media (max-width: 992px) {
    .div1 > div:first-child > h1 {
        font-size: 34px;
    }
    .div1 > div:first-child > button {
        width: 275px;
        height: 50px;
        font-size: large;
    }
    .div1 > div:first-child > p,
    .div1 > div:first-child > label {
        font-size: small;
    }
    .div1 > div:last-child {
        width: 550px;
        height: 550px;
    }
    .h1-1 {
        font-size: 44px;
    }
    .div2 {
        padding: 0 50px 0 50px;
    }
    .div2 > div {
        height: 330px;
        padding: 25px 10px 10px 45px;
    }
    .div2 > div > h1 {
        font-size: x-large;
    }
    .div2 > div > p {
        font-size: medium;
    }
    .div2 > div:first-child > button,
    .div2 > div:last-child > button {
        width: 175px;
        height: 50px;
        font-size: large;
    }
    .div2 > div:first-child > img {
        width: 225px;
        height: 275px;
    }
    .div3 {
        width: 89%;
        height: 340px;
        padding: 10px 0 0 50px;
    }
    .div3 > h1 {
        font-size: x-large;
    }
    .div3 > p {
        font-size: medium;
    }
    .div3 > button {
        width: 225px;
        height: 50px;
        font-size: large;
    }
    .grid1 {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
        padding: 0 50px 0 50px;
        margin-bottom: 360px;
    }
    .div4 {
        height: 600px;
    }
    .div4 > img:first-child,
    .div4 > img:last-child {
        width: 150px;
        height: 150px;
    }
    .div4 > hr, .div6 > hr {
        width: 400px;
    }
    .div4 > p, b,
    .div5 > div:first-child > p,
    .slide > label,
    .slide > p,
    .slide > input,
    .slide > form > label > span,
    .slide > form > label > input[type="text"]::placeholder,
    .slide:nth-child(5) > p > p {
        font-size: large;
    }
    .div5 {
        height: 520px;
        padding: 10px 0 10px 50px;
    }
    /* .div5 > div:first-child */
    .div5 > div:first-child > .h1-2 {
        font-size: 24px;
    }
    .div5 > div:first-child > hr {
        width: 175px;
        height: 4px;
    }
    .slide > input::placeholder {
        padding: 15px;
    }
    .slide > form > label > input[type="text"] {
        margin-left: 40px;
        width: 65%;
        height: 40px;
    }
    #controls {
        bottom: 30px;
    }
    #controls > button {
        width: 150px;
        height: 40px;
        font-size: small;
    }
    #indicators {
        bottom: 10px;
    }
    .indicator {
        width: 50px;
        height: 3px;
        background-color: #ccc;
        display: inline-block;
        margin: 0 5px;
    }
    .div5 > div:last-child {
        width: 500px;
        height: 500px;
    }
    .div6 {
        padding: 50px 40px 50px 40px;
    }
    .grid2 > div > p {
        font-size: small;
    }
    .grid2 > div > img {
        width: 100px;
        height: 100px;
    }
    .main-form > div:first-child {
        width: 424px;
        height: 424px;
    }
    .main-form > div:last-child {
        padding-top: 10px;
    }
    .h1-2 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .main-form > div:last-child > form > input {
        width: 80%;
        height: 40px;
        font-size: medium;
    }
    .main-form > div:last-child > form > button {
        width: 225px;
        height: 55px;
        font-size: large;
    }
    .main-form > div:last-child > #promo-container {
        height: 50px;
        padding: 15px 0 15px 0;
        font-size: medium;
    }
    .main-form > div:last-child > p {
        font-size: x-small;
    }
    .div7 > details {
        font-size: medium;
    }
    .div7 > details > p {
        font-size: smaller;
    }
    .div7 > details > summary::after {
        font-size: x-large;
        padding: 0 15px 15px 0;
    }
    .div8 {
        height: 350px;
    }
    .div8 > .h1-1 {
        font-size: 39px;
    }
    .div8 > button {
        width: 275px;
        height: 50px;
        font-size: large;
    }
    .div8 > hr {
        width: 65%;
        bottom: -19%;
    }
}
@media (max-width: 768px) {
    .hideOnMobile {
        display: none;
    }
    .menu-button {
        display: block;
    }
    .div1 {
        padding: 15px 0 15px 100px;
        grid-template-columns: 1fr;
    }
    .div1 > div:last-child {
        display: none;
    }
    .div2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .div2 > div:last-child > h1 {
        font-size: 40px;
    }
    .div2 > div:first-child > p {
        font-size: larger;
    }
    .div2 > div:last-child > p {
        font-size: x-large;
    }
    .div2 > div:first-child > button,
    .div2 > div:last-child > button {
        width: 300px;
    }
    .div2 > div:first-child > img {
        margin-top: -35%;
    }
    .div3 {
        width: 88%;
        height: 370px;
        padding: 25px 0 0 25px;
    }
    .div3 > h1 {
        font-size: xx-large;
    }
    .div3 > p {
        font-size: large;
        margin: 0;
    }
    .div3 > button {
        margin-top: 25px;
        width: 250px;
        font-size: x-large;
    }
    .div3 > img {
        display: none;
    }
    .h1-1 {
        padding: 0 225px;
    }
    #p1-1 {
        font-size: larger;
    }
    .grid1 {
        height: 1400px;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(1, 1fr);
        padding: 0 125px 0 125px;
    }
    .div4 {
        height: 650px;
        padding: 50px 100px 25px 100px;
    }
    .div4 > .h1-1 {
        font-size: xx-large;
        padding: 0;
    }
    .div4 > img:first-child,
    .div4 > img:last-child {
        width: 125px;
        height: 125px;
    }
    .div4 > hr, .div6 > hr {
        width: 400px;
    }
    .div4 > p, b {
        font-size: larger;
    }
    .div5 {
        width: 100%;
        height: 600px;
        padding: 10px 0 10px 100px;
        grid-template-columns: 1fr;
    }
    .div5 > div:first-child {
        padding: 30px 0 0 0;
    }
    .div5 > div:first-child > .h1-2 {
        font-size: xx-large;
    }
    .div5 > div:first-child > p {
        padding: 0 300px 0 0;
        font-size: larger;
    }
    #carousel {
        position: relative;
        width: 65%;
        padding: 20px 20px 10px 20px;
    }
    .slide > label,
    .slide > p {
        font-size: larger;
    }
    .slide > input {
        font-size: larger;
    }
    .slide > input::placeholder {
        font-size: large;
    }
    .slide > form > label > span {
        font-size: larger;
    }
    .slide > form > label > input[type="text"] {
        margin-left: 60px;
        width: 60%;
        height: 50px;
    }
    .slide:nth-child(5) > p > p {
        font-size: large;
    }
    #controls {
        position: absolute;
        bottom: 40px;
    }
    #controls > button {
        width: 175px;
        font-size: medium;
    }
    .div5 > div:last-child {
        z-index: -1;
        width: 400px;
        height: 350px;
        position: relative;
        left: 40%;
        bottom: 80%;
    }
    .div6 {
        padding: 25px;
    }
    .grid2 {
        gap: 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .grid2 > div:nth-child(odd) {
        margin: 0 -75px 0 -40px;
    }
    .grid2 > div:nth-child(even) {
        margin: 0 0 0 -75px;
    }
    .grid2 > div > h1 {
        font-size: x-large;
    }
    .grid2 > div > h2 {
        font-size: larger;
    }
    .grid2 > div > p {
        padding: 0 100px;
        font-size: medium;
        font-weight: 500;
    }
    .grid2 > div > img {
        width: 100px;
        height: 100px;
    }
    .main-form {
        width: 100%;
        grid-template-columns: 1fr;
        gap: 75px;
    }
    .main-form > div:first-child {
        margin:  0 auto;
        width: 484px;
        height: 484px;
        background: url(images/2\ 14.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .main-form > div:last-child {
        margin: 0 auto;
        width: 80%;
        padding-top: 0;
    }
    .h1-2 {
        font-size: 29px;
        font-weight: 800;
        margin-bottom: 25px;
    }
    .main-form > div:last-child > form > input {
        width: 100%;
        height: 75px;
        font-size: larger;
    }
    .main-form > div:last-child > form > button {
        width: 300px;
    }
    .main-form > div:last-child > #promo-container {
        width: 100%;
        height: 75px;
        padding: 25px 0 15px 0;
        font-size: larger;
    }
    .main-form > div:last-child > p {
        font-size: small;
    }
    .div7 {
        padding: 20px 0 20px 0;
    }
    .div7 > .h1-1 {
        font-size: xx-large;
        padding: 0;
    }
    .div7 > hr {
        width: 400px;
    }
    .div7 > details {
        width: 80%;
        padding: 25px 0 0 25px;
        font-size: large;
    }
    .div7 > details > summary::after {
        font-size: x-large;
    }
    .div7 > details > p {
        font-size: small;
        margin-bottom: 10px;
    }
    .div8 {
        height: 400px;
        padding: 50px 0 0 0;
    }
    .div8 > h1 {
        padding: 0;
    }
    .div8 > button {
        width: 275px;
        height: 50px;
        font-size: large;
    }
    .div8 > hr {
        bottom: -27%;
    }
}
@media (max-width: 576px) {
    .sidebar {
        width: 100%;
    }
    .div1 {
        padding: 15px 0 15px 25px;
    }
    .h1-1 {
        font-size: 50px;
        padding: 0 50px;
    }
    .div2 > div:last-child > h1 {
        font-size: 30px;
    }
    .div2 > div:first-child > p {
        font-size: medium;
        margin: 0;
    }
    .div2 > div:first-child > button,
    .div2 > div:last-child > button {
        width: 250px;
    }
    .div2 > div:first-child > img {
        display: none;
    }
    .div3 {
        width: 84%;
        height: 370px;
        padding: 25px 0 0 25px;
    }
    .div3 > h1 {
        font-size: x-large;
    }
    .div3 > p {
        font-size: large;
        margin: 0;
    }
    .div3 > button {
        width: 225px;
        font-size: large;
    }
    .div3 > img {
        display: none;
    }
    #p1-1 {
        font-size: larger;
        padding: 0 75px;
    }
    .grid1 {
        height: 1400px;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(1, 1fr);
        padding: 0 125px 0 125px;
    }
    .grid1 > div {
        padding: 25px 25px 0 25px;
    }
    .div4 {
        height: 700px;
        padding: 50px 100px 25px 100px;
    }
    .div4 > .h1-1 {
        font-size: x-large;
    }
    .div4 > p, b {
        font-size: large;
    }
    .div5 {
        height: 500px;
        padding: 10px 0 10px 75px;
    }
    .div5 > div:first-child {
        padding: 30px 0 0 0;
    }
    .div5 > div:first-child > .h1-2 {
        font-size: x-large;
    }
    .div5 > div:first-child > p {
        padding: 0 150px 0 0;
        font-size: large;
    }
    #carousel {
        width: 90%;
    }
    .div5 > div:last-child {
        display: none;
    }
    .div6 {
        padding: 25px;
    }
    .div6 > h1 {
        font-size: xx-large;
    }
    .grid2 {
        gap: 0;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .grid2 > div:nth-child(odd),
    .grid2 > div:nth-child(even) {
        margin: 0;
    }
    .grid2 > div > h1 {
        font-size: large;
    }
    .grid2 > div > h2 {
        font-size: large;
    }
    .grid2 > div > p {
        padding: 0 100px;
        font-size: small;
        font-weight: 500;
    }
    .grid2 > div > img {
        width: 75px;
        height: 75px;
    }
    .main-form > div:first-child {
        width: 384px;
        height: 384px;
    }
    .h1-2 {
        font-size: 24px;
    }
    .main-form > div:last-child > form > input {
        font-size: large;
    }
    .main-form > div:last-child > form > button {
        width: 275px;
    }
    .main-form > div:last-child > #promo-container {
        font-size: large;
    }
    .main-form > div:last-child > p {
        font-size: x-small;
    }
    .div7 > .h1-1 {
        font-size: x-large;
        padding: 0;
    }
    .div7 > hr {
        width: 350px;
    }
    .div7 > details {
        font-size: medium;
    }
    .div7 > details > summary::after {
        font-size: larger;
    }
    .div7 > details > p {
        font-size: smaller;
    }
    .div8 > .h1-1 {
        font-size: xx-large;
    }
    .div8 > button {
        width: 275px;
        height: 50px;
        font-size: large;
    }
    .div8 > hr {
        bottom: -32%;
    }
}
@media (max-width: 480px) {
    .div1 {
        padding: 15px 10px;
    }
    .div1 > div:first-child > h1 {
        font-size: xx-large;
    }
    .div1 > div:first-child > button {
        width: 250px;
    }
    .div2 > div:last-child > h1 {
        font-size: 24px;
    }
    .div2 > div:first-child > button,
    .div2 > div:last-child > button {
        width: 225px;
    }
    .div3 {
        width: 81%;
    }
    .div3 > h1 {
        font-size: large;
    }
    .div3 > p {
        font-size: medium;
    }
    #p1-1 {
        padding: 0 50px;
    }
    .grid1 {
        height: 1200px;
        padding: 0 50px;
        gap: 25px;
    }
    .div4 {
        height: 600px;
        padding: 50px 75px 25px 75px;
    }
    .div4 > .h1-1 {
        margin-top: -50px;
        font-size: x-large;
    }
    .div4 > hr {
        width: 40%;
    }
    .div4 > p, b {
        font-size: medium;
    }
    .div4 > img:first-child,
    .div4 > img:last-child {
        width: 100px;
        height: 100px;
    }
    .div5 {
        padding: 10px 0 10px 50px;
    }
    .div5 > div:first-child > p {
        padding: 0 100px 0 0;
    }
    .div6 > h1 {
        padding: 0;
    }
    .main-form > div:first-child {
        width: 334px;
        height: 334px;
    }
    .h1-2 {
        font-size: 19px;
    }
    .main-form > div:last-child > form > input,
    .main-form > div:last-child > #promo-container {
        font-size: medium;
    }
    .main-form > div:last-child > form > button {
        width: 100%;
    }
    .div7 > details {
        font-size: small;
    }
    .div7 > details > summary::after {
        font-size: larger;
    }
    .div8 > .h1-1 {
        font-size: x-large;
    }
    .div8 > button {
        width: 275px;
        height: 50px;
        font-size: large;
    }
    .div8 > hr {
        width: 80%;
        bottom: -38%;
    }
}
@media (max-width: 391px) {
    .div1 {
        padding: 15px 50px;
    }
    .div1 > div:first-child > h1 {
        font-size: large;
    }
    .div1 > div:first-child > p,
    .div1 > div:first-child > label {
        font-size: smaller;
    }
    .div1 > div:first-child > button {
        font-size: medium;
    }
    .h1-1 {
        font-size: x-large;
        padding: 0;
    }
    .div2 > div:first-child,
    .div2 > div:last-child {
        padding: 25px 25px;
    }
    .div2 > div:first-child > h1,
    .div2 > div:last-child > h1 {
        font-size: 19px;
    }
    .div2 > div:last-child > p {
        font-size: medium;
    }
    .div2 > div:first-child > button,
    .div2 > div:last-child > button {
        width: 225px;
    }
    .div3 {
        width: 76%;
    }
    .div3 > h1 {
        font-size: medium;
    }
    .div3 > p {
        font-size: small;
    }
    #p1-1 {
        padding: 0 50px;
        font-size: medium;
    }
    .grid1 {
        padding: 0 15px;
    }
    .div4 {
        height: 550px;
    }
    .div4 > .h1-1 {
        font-size: medium;
    }
    .div4 > hr {
        width: 40%;
    }
    .div4 > p, b {
        font-size: small;
    }
    .div4 > img:first-child,
    .div4 > img:last-child {
        width: 100px;
        height: 100px;
    }
    .div5 {
        padding: 10px 0 10px 50px;
    }
    .div5 > div:first-child > p {
        padding: 0 75px 0 0;
    }
    .slide > label,
    .slide > p {
        font-size: large;
    }
    .slide > input {
        font-size: large;
    }
    .slide > input::placeholder {
        font-size: large;
    }
    .slide > form > label > span {
        font-size: large;
    }
    .slide > form > label > input[type="text"] {
        margin-left: 20px;
        width: 70%;
    }
    #controls > button {
        width: 100px;
        font-size: x-small;
    }
    .div6 > h1 {
        font-size: x-large;
    }
    .div6 > hr {
        width: 70%;
    }
    .main-form > div:first-child {
        width: 284px;
        height: 284px;
    }
    .h1-2 {
        font-size: 14px;
    }
    .main-form > div:last-child > form > input,
    .main-form > div:last-child > #promo-container {
        font-size: small;
    }
    .main-form > div:last-child > form > button {
        width: 100%;
    }
    .div7 {
        padding: 20px 0;
    }
    .div7 > details {
        font-size: smaller;
    }
    .div7 > details > summary::after {
        font-size: larger;
    }
    .div8 > .h1-1 {
        font-size: xx-large;
    }
    .div8 > hr {
        bottom: -22%;
    }
}
